.App {
  padding: 30px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.task-list li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.task-list li:last-child {
  border-bottom: none;
}

.task-list li:hover {
  background-color: #f1f1f1;
}

.task-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.task-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-name {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
}

.labels {
  display: flex;
  gap: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.content {
  padding: 10px;
  height: 10vh;
  width: 50%;
  border-radius: 5px;
}
